body {
        display: grid;
        grid-template-rows: 20% auto 5%;
        /* background-color: #e5f8d2; */
        
}

#contener1 {
        grid-row : 1;
        text-align: center;
        font-family:Cambria, serif;
        /* display: grid;
        grid-template-columns: 30% 70%;  */
        background-color: #fafff5;
}

#contener2{
        grid-row : 2;
}

#logo {
        grid-column: 1;                  
}
   
#titre {
        /* grid-column: 2;                      */
        font-size: 1.5em;
        font-weight: 600;
        color: rgb(37, 77, 73);
}



#mentions {
        grid-row : 3;
        text-align: center;
        background-color: #cfffab;
}
