*{
        /* overflow: hidden; */
}

body {
        display: grid;
        grid-template-rows: 20% 70% 10%;
        /* background-color: #e5f8d2; */
        /* overflow: hidden;
        object-fit: cover; */
}

#contener1 {
        grid-row : 1;
        text-align: center;
        font-family:Cambria, serif;
        /* display: grid;
        grid-template-columns: 30% 70%;  */
        background-color: #fafff5;
}

#contener2{
        grid-row : 2;
}
   
#titre {
        font-size: 1.5em;
        font-weight: 600;
        color: rgb(37, 77, 73);
}

#mentions {
        grid-row : 3;
        text-align: center;
        background-color: #cfffab;
}
