#conteneur {
  background-color: coral;
    min-height: 100vh;                  /* 1 */
    display: grid;                      /* 2 */
    grid-template-columns: 30% 40% 30%;  /* 3 */
    grid-template-rows: 10% 70% 20%;  /* 3 */
  }

#contener{
    grid-column: 2;                     
    grid-row: 2;
    border-width:1px;
    border-style:dotted;
    border-color:black;
    text-align: center;
    background-color: coral;
}

/* #bus{
  grid-column: 1 / span3 ;                     
  grid-row: 3;
  position: relative;
  background-color: coral;
} */

#coin{
  grid-column: 1 / span3 ;                     
  grid-row: 3;
  position: relative;
}