#contener2 {
  min-height: 100vh;                  
  display: grid;                      
  grid-template-columns: 15% 40% 30% 15%;  
  grid-template-rows:  10% 20% 35% 10% 25%;  
  background-image : url("../images/fond3.png");
  background-size: cover;
}

#contener{
  border-radius: 10%;
  background-color: rgb(127, 167, 185, 0.4);
  grid-column: 3;                     
  grid-row: 2 ;

  grid-template-rows: 30% 50% 10% 10%;
}

#retourPP{
  grid-row: 3;
  text-align: center;
}

#classementPersonnel{
  grid-row: 2;
  text-align: center;
  font-size: 1.5em;
}

#phraseFin{
  grid-row: 1;
}

#commentaire{
  grid-row : 4;
}

#deplacementBus{
  grid-column: 1 / span3 ;                     
  grid-row: 4;
}

#coin{
  position: relative;
}