#contener2 {
  min-height: 90vh;                  
  display: grid;                      
  grid-template-columns: 15% 40% 30% 15%;  
  grid-template-rows:  10% 20% 35% 10% 25%;  
  background-image : url("../images/fond3.png");
  background-size: cover;
}

#contenerFin{
  border-radius: 5%;
  background-color: rgb(127, 167, 185, 0.4);
  grid-column: 3;                     
  grid-row: 2 ;

  grid-template-rows: 30% 50% 20%;

  overflow: auto;
  scrollbar-width: thin;
  height: 20vh;
  overflow-y: scroll;
  scrollbar-color: rgb(247, 226, 196, 0.50) rgba(97, 86, 72, 0.50);
}


#phraseFin{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  text-align: center;

  grid-row: 1;
}

#classementPersonnel{
  grid-row: 2;
  text-align: center;
  font-size: 1.5em;
  padding-top: 5%;
}

#retourPP{
  padding-top: 5%;
  grid-row: 3;
  text-align: center;
}


#deplacementBus{
  grid-column: 1 / span3 ;                     
  grid-row: 4;
}

#coin{
  position: relative;
}