#contener2{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 30% 55% 15%;
    grid-template-rows: 65% 15% 20%;

    background-image : url("../images/fond/fondIndex.png");
    background-size: cover;
}

/* -------------------------------------------------------------------- */

#deroulmentJeu{
    grid-column: 1;
    grid-row: 1 / span 3;

    background-color: #e3e3e3;

    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 80% 10% 5%;
}

#deroulmentTitre{
    grid-column: 2;
    grid-row: 1;
    margin: auto;
}

#message{
    grid-column: 2;
    grid-row: 2;
    background-color: #fbfafb;
    
    overflow: auto;
    scrollbar-width: thin;
    height: 70vh;
    overflow-y: scroll;
    scrollbar-color: #fbfafb;
}

#interaction{
    grid-column: 2;
    grid-row: 3;
    background-color: #fbfafb;
    text-align: center;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40% 60%;
}

#interactionJoueur{
    grid-column: 1;
    grid-row: 2;
    background-color:  #fbfafb;
    text-align: center;
}

#bulleMessage{
    margin-top: 3%;
    margin-left: auto;
    border-radius: 5%;
    max-height: 100px;
    width: 90%;

    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 95% 5%;
}

#photoMessage{
    grid-column: 1;
    grid-row: 1;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#contenuMessage{
    grid-column: 2;
    grid-row: 1 / span 2;
}


/* -------------------------------------------------------------------- */

#map { 
    grid-column: 2;  
    grid-row: 1 / span 3;                   
    padding: 5%;
    margin: 5%;
    z-index: 1;
}

/* -------------------------------------------------------------------- */

#parole{
    text-align:center;
}

/* -------------------------------------------------------------------- */

#inventaire{
    grid-column: 3;                     
    grid-row: 1 / span 2;

    /* border: 2px solid #240b16; */
    /*background-image : url("../images/inventaire.jpg");
    background-size: cover;*/

    background-color: #fbfafb;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 20% 20% 20% 20% 10%;
}

#inventaire > div > img {
    width: 50px;
    padding-bottom: 60%;
    padding-left: 30%;
}

#titreInventaire{
    grid-column: 1 / span 3;                     
    grid-row: 1;
    color: grey;
}

#objet1{
    grid-column: 2;                     
    grid-row: 2;
}

#objet2{
    grid-column: 2;                     
    grid-row: 3;
}

#objet3{
    grid-column: 2;                     
    grid-row: 4;
}

#objet4{
    grid-column: 2;                     
    grid-row: 5;
}

/* .objet {
    border: 10px solid #e3e3e3;
    background-color: #fbfafb;
} */

/* -------------------------------------------------------------------- */
 
#niveaux{
    grid-column: 3;
    grid-row: 2;

    background-color: #fbfafb;
    color: grey;
}

#progressbar{
    margin-top: 5%; 
    margin-left: auto;
    margin-right: auto;

    width : 90%;
    padding: 1px;
    background-color: #e3e3e3;
    border: 1px solid black;
    height: 15%;
}

#indicator{
    width: 0px;
    height: 20px;
    background-color: #d0e7c9;
}

#progressnum{
    width: 250px;
    font-weight: 500;
    color: rgb(247, 226, 196, 0.33);
    text-align: center;
    font-size: 1.5em;
    opacity: 0.33;
}

/* -------------------------------------------------------------------- */

#bus{ 
    position: absolute;
    top: 60%;
    right: 50%;
    z-index: 2;
}

#testimage{
    width: 80%;
}

/* -------------------------------------------------------------------- */

.titreSection{
    font-weight: 500;
    color: rgb(128, 128, 128);
    text-align: center;
    font-size: 1.5em;
}