#contener2{
    min-height: 90vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40% 40% 20%;
    /* background-color: rgb(55, 128, 155); */
}

/* -------------------------------------------------------------------- */

#deroulmentJeu{
    grid-column: 1;
    grid-row: 1 / span 3;
    background-color: rgb(55, 128, 155);
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 80% 10% 5%;
}

#message{
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(41, 77, 90);
    overflow: auto;
    scrollbar-width: thin;

    height: 80vh;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
}

#deroulmentTitre{
    grid-column: 2;
    grid-row: 1;
    margin: auto;
}

#interaction{
    grid-column: 2;
    grid-row: 3;
    background-color: rgb(160, 201, 216);
    text-align: center;
}

#i1{
    display: none;
}

#i2{
    display: none;
}



/* -------------------------------------------------------------------- */

#map { 
    /* height: 95%; */
    grid-column: 2;  
    grid-row: 1 / span 3;                   
    padding: 10%;
    margin: 5%;
}

/* -------------------------------------------------------------------- */


#bus{
    grid-column: 3;                     
    grid-row: 1;
    border: 2px solid #240b16;
}

#testimage{
    width: 60%;
}


/* -------------------------------------------------------------------- */

#inventaire{
    grid-column: 3;                     
    grid-row: 2;
    display: grid;
    grid-template-columns: 10% 15% 5% 15% 5% 15% 5% 15% 5% 10%;
    grid-template-rows: 10% 80% 10%;
    border: 2px solid #240b16;
}

#inventaire > div > img {
    width: 40px;
}

#titreInventaire{
    grid-column: 1 / span 6;                     
    grid-row: 1;
    font-size: 1.1em;
    font-weight: 500;
}

#objet1{
    grid-column: 2;                     
    grid-row: 2;
    border: 2px solid #a00e50;
    text-align: center;
}

#objet2{
    grid-column: 4;                     
    grid-row: 2;
    border: 2px solid #a00e50;
    text-align: center;
}

#objet3{
    grid-column: 6;                     
    grid-row: 2;
    border: 2px solid #a00e50;
    text-align: center;
}

#objet4{
    grid-column: 8;                     
    grid-row: 2;
    border: 2px solid #a00e50;
    text-align: center;
}

/* -------------------------------------------------------------------- */
 
#niveaux{
    grid-column: 3;
    grid-row: 3;
    border: 2px solid #240b16;
}

#progressbar
{
    margin-top: 5%; 
  width:250px;
  padding:1px;
  background-color:white;
  border:1px solid black;
  height:28px;
}

#indicator
{
  width:0px;
  background-image:url("images/logo.jpg");
  height:28px;
  margin:0;
}

#progressnum
{
  text-align:center;
  width:250px;
}

/* -------------------------------------------------------------------- */
