body {
    min-height: 100vh;                  /* 1 */
    display: grid;                      /* 2 */
    grid-template-columns: 30% 40% 30%;   /* 3 */
    grid-template-rows: 20% 20% 20% 20% 10% 10%;  /* 3 */
  }

#logo{grid-column: 1 ;                     
     grid-row: 1;}

#titre{grid-column: 2 ;                     
        grid-row: 1;}

#contexte{grid-column: 1 / span 2 ;                     
        grid-row: 2 / span 4;
        padding-left: 10%;
        padding-right: 10%;}

#connexion1{grid-column: 3 ;                     
    grid-row: 2 / span 2;}

#score{grid-column: 3 ;                     
        grid-row: 4 / span 2;}

#mentions{grid-column: 1 / span 3 ;                     
        grid-row: 6;}
