body {
    min-height: 100vh;                  /* 1 */
    display: grid;                      /* 2 */
    grid-template-columns: 50% 2% 20% 20% 8%;  /* 3 */
    grid-template-rows: 5% 15% 20% 20% 20% 20%;  /* 3 */
  }

/* #titre{grid-column: 2 / span 4;                     
    grid-row: 1;
    text-align: center;
    font-size: 2em;
    font-weight: 600;} */

#map { 
    height: 85%;
    grid-column: 1;                     
    grid-row: 1 / span 4;
    padding: 10%;
}


#contener{grid-column: 2 / span 4;                     
     grid-row: 1 / span 5;
    background-color: cadetblue;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 8% 92%;
    }

#affichage {
    grid-row: 2;
    grid-column: 1 / span 3;
    background-color: crimson;
}


#indice{grid-column: 1;                     
    grid-row: 1;}

#bus{grid-column: 2;                     
    grid-row: 1;}

#inventaire{grid-column: 3;                     
    grid-row: 1;}




#deroulmentJeu{
    grid-column: 1 / span 4;                     
    grid-row: 6;
    background-color: bisque;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 90% 10%;
}

#maeve{
    grid-column: 1;
    grid-row: 1/ span 2;
    background-color: rgb(25, 180, 38);
}

#ilona{
    grid-column: 3;
    grid-row: 1/ span 2;
    background-color: rgb(128, 13, 108);

}

#niveaux{
    grid-column: 5;                     
    grid-row: 6;
    background-color: rgb(155, 112, 61);
}

img {
    max-width: 100%;
    max-height: 100%;
}